<p>A Hero Never Quits. Don't give up on <%= @task.name %>?</p>

<form method="post" action="/tasks/<%=@task.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>
